flybywire/*
src/*
build*.js
buildSrc/*
igniter.config.mjs
build-su95x/src/base/headwindsim-aircraft-su100-95/html_ui/Pages/su95x_Core/math.js
build-su95x/src/systems/fmgc/src/flightplanning/DirectTo.ts
build-su95x/src/systems/fmgc/src/flightplanning/FixNamingScheme.ts
build-su95x/src/systems/fmgc/src/flightplanning/FlightPlanAsoboSync.ts
build-su95x/src/systems/fmgc/src/flightplanning/FlightPlanManager.ts
build-su95x/src/systems/fmgc/src/flightplanning/FlightPlanSegment.ts
build-su95x/src/systems/fmgc/src/flightplanning/GeoMath.ts
build-su95x/src/systems/fmgc/src/flightplanning/GPS.ts
build-su95x/src/systems/fmgc/src/flightplanning/LegsProcedure.ts
build-su95x/src/systems/fmgc/src/flightplanning/ManagedFlightPlan.ts
build-su95x/src/systems/fmgc/src/flightplanning/ProcedureDetails.ts
build-su95x/src/systems/fmgc/src/flightplanning/RawDataMapper.ts
build-su95x/src/systems/fmgc/src/flightplanning/SegmentedFlightPlan.ts
build-su95x/src/systems/fmgc/src/flightplanning/WaypointBuilder.ts
build-su95x/src/systems/fmgc/src/flightplanning/WorldMagneticModel.ts
build-su95x/src/systems/fmgc/src/utils/LzUtf8.js
target/*
CMakeFiles/*
cmake*
build-su95x/out/*
# TODO: these need to be more granular
hdw-su95x/src/*
