flybywire/*
src/*
build*.js
buildSrc/*
igniter.config.mjs
hdw-su95x/src/base/headwindsim-aircraft-su100-95/html_ui/Pages/su95x_Core/math.js
hdw-su95x/src/systems/fmgc/src/flightplanning/DirectTo.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/FixNamingScheme.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/FlightPlanAsoboSync.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/FlightPlanManager.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/FlightPlanSegment.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/GeoMath.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/GPS.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/LegsProcedure.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/ManagedFlightPlan.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/ProcedureDetails.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/RawDataMapper.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/SegmentedFlightPlan.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/WaypointBuilder.ts
hdw-su95x/src/systems/fmgc/src/flightplanning/WorldMagneticModel.ts
hdw-su95x/src/systems/fmgc/src/utils/LzUtf8.js
target/*
CMakeFiles/*
cmake*
build-su95x/out/*
# TODO: these need to be more granular
hdw-su95x/src/base/*
