*
!*/
!/.vscode/**
!/.github/**
!/.husky/**
!/msfs-avionics-mirror/**
!/hdw-su95x/src/**
/hdw-su95x/src/base/headwindsim-aircraft-su100-95/SimObjects/Airplanes/Headwind_SU95/model/*.bin
/hdw-su95x/src/base/headwindsim-aircraft-su100-95/SimObjects/Airplanes/Headwind_SU95/model/*.gltf
!/docs/**
!/scripts/**
!/typings/**
!.gitignore
!CODEOWNERS
!package.json
!package-lock.json
!.editorconfig
!.eslintrc
!.eslintignore
!jsconfig.json
!.gitattributes
!.gitmodules
!.prettierrc.json
!.prettierignore
!.npmrc
!manifest-base.json
!manifest-base-lock-highlight.json
!Cargo.lock
!Cargo.toml
!rust-toolchain.toml
!/.cargo/config.toml
!jest.config.js
!/jest/**
.DS_Store
node_modules
*.wasm
/target
!igniter.config.mjs
.igniter
.env
src/instruments/buildSrc/custom/*
/headwindsim-aircraft-su100-95/MCDU SERVER/
/src/mcdu-server/client/build
!/headwindsim-aircraft-su100-95/CORS SERVER/*
msfs-avionics-mirror/src/sdk/build/**
*.tgz
/src
.idea
hdw-su95x/src_old
*.bak
/build-su95x/
!/hdw-su95x/mach.config.js
!/hdw-su95x/.env
cmake-build*

localazy.keys.json
