@import url("/SU95X_CSS/A32NX_Display_Common.css");

@font-face {
  font-family: "ECAMFontRegular";
  src: url("/SU95X_FONTS/ECAMFontRegular.ttf") format("truetype");
  fill: var(--displayMagenta);
  font-weight: normal;
  font-style: normal;
}
